logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.nyc_output

# Bower dependency directory (https://bower.io/)
bower_components

node_modules/
web_modules/

*.tsbuildinfo

.npm

.eslintcache
.stylelintcache

out
dist
.cache/
.docusaurus
.vscode-test

.env
